body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "top-player top-plater"
                       "comments side-bar";
}

#TopPlayer {
  grid-area: top-player;
}

#sidebar {
  grid-area: side-bar;
}

#app {
  grid-area: comments;
}

#BottomPlayer {
  bottom: 0px;
  position: fixed;
}